.form-switch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.form-switch-label {
    font-size: 1rem;
    color: #333;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #401A89;
    border-radius: 34px;
    background-color: #FFFFFF;
    transition: .4s;
    display: flex;
    align-items: center;
    padding: 0 4px;
}

.slider-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: white;
    transition: .4s;
    font-size: 0.8rem;
}

.slider-icon {
    font-size: 1.25rem;
    color: #401A89;
}

.slider.checked {
    background-color: #401A89;
}

.slider.checked .slider-icon-container {
    transform: translateX(26px);
    color: #401A89;
}

input:focus+.slider {
    box-shadow: 0 0 1px #401A89;
}