.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: #333333;
    text-align: center;
}

.form-icon {
    font-size: 6rem;
    color: #401A89;
}

.form-title {
    font-size: 2rem;
}

.form-description {
    width: 80%;
    font-size: 1rem;
}

@media (min-width: 1201px) {
    .form-icon {
        font-size: 7rem;
    }

    .form-title {
        font-size: 2.5rem;
    }

    .form-description {
        font-size: 1.125rem;
    }
}

@media (max-width: 992px) {
    .form-icon {
        font-size: 5rem;
    }

    .form-title {
        font-size: 1.75rem;
    }
}

@media (max-width: 767px) {
    .form-icon {
        font-size: 4rem;
    }

    .form-title {
        font-size: 1.5rem;
    }

    .form-description {
        width: 90%;
        font-size: 0.9375rem;
    }
}

@media (max-width: 412px) {
    .form-icon {
        font-size: 3rem;
    }

    .form-title {
        font-size: 1.25rem;
    }

    .form-description {
        width: 100%;
        font-size: 0.875rem;
    }
}