.form-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-label {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-input input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #333333;
    border-radius: 0.75rem;
}

@media (min-width: 1201px) {
    .form-label {
        font-size: 1.75rem;
    }

    .form-input input {
        font-size: 1.125rem;
        padding: 0.625rem 1.25rem;
    }
}

@media (max-width: 992px) {
    .form-label {
        font-size: 1.25rem;
    }
}

@media (max-width: 767px) {
    .form-label {
        font-size: 1.125rem;
    }

    .form-input input {
        font-size: 0.9375rem;
        padding: 0.5rem 0.875rem;
    }
}

@media (max-width: 412px) {
    .form-label {
        font-size: 1rem;
    }

    .form-input input {
        font-size: 0.875rem;
        padding: 0.5rem 0.75rem;
    }
}