.form-location {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-label {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-location-bottom {
    display: flex;
    gap: 1rem;
}

.form-location-bottom input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #333333;
    border-radius: 0.75rem;
    flex: 1;
}

.form-location-bottom button {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #FFFFFF;
    color: #0062F5;
    border: 1.5px solid #0062F5;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-location-icon {
    font-size: 1.25rem;
    transition: all 0.3s ease;
}

.form-location-bottom button:hover {
    background-color: #0062F5;
    color: #FFFFFF;
}

@media (max-width: 1600px) {
    .form-location-bottom {
        flex-direction: column;
    }
}

@media (min-width: 1201px) {
    .form-label {
        font-size: 1.75rem;
    }

    .form-location-bottom input {
        font-size: 1.125rem;
        padding: 0.625rem 1.25rem;
    }

    .form-location-bottom button {
        font-size: 1.125rem;
        padding: 0.625rem;
    }

    .form-location-icon {
        font-size: 1.375rem;
    }
}

@media (max-width: 992px) {
    .form-label {
        font-size: 1.25rem;
    }
}

@media (max-width: 767px) {
    .form-label {
        font-size: 1.125rem;
    }

    .form-location-bottom input {
        font-size: 0.9375rem;
        padding: 0.5rem 0.875rem;
    }

    .form-location-bottom button {
        font-size: 0.9375rem;
        padding: 0.5rem;
    }

    .form-location-icon {
        font-size: 1.125rem;
    }
}

@media (max-width: 412px) {
    .form-label {
        font-size: 1rem;
    }

    .form-location-bottom input {
        font-size: 0.875rem;
        padding: 0.5rem 0.75rem;
    }

    .form-location-bottom button {
        font-size: 0.875rem;
        padding: 0.5rem;
    }

    .form-location-icon {
        font-size: 1rem;
    }
}