footer {
    width: 100%;
    padding: 3rem 10%;
    display: flex;
    justify-content: center;
    gap: 8%;
    background-color: #401A89;
    color: #FFFFFF;
}

.footer-content,
.quick-links-container,
.legal-links-container,
.social-links {
    width: 18%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quick-links-container,
.legal-links-container,
.social-links {
    width: 100%;
}

.social-links {
    flex-direction: row;
    gap: 0.75rem;
}

.social-icons {
    font-size: 1rem;
    transition: transform 0.3s ease;
}

.social-icons:hover {
    transform: translateY(-2px);
}

.about-description,
.footer-links {
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    transition: opacity 0.2s ease;
}

.footer-links:hover {
    opacity: 0.8;
}

.footer-heading {
    font-size: 1rem;
    font-weight: bold;
}

@media (min-width: 1201px) {
    footer {
        padding: 4rem 15%;
    }

    .about-description,
    .footer-links {
        font-size: 0.875rem;
    }

    .social-icons {
        font-size: 1.125rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    footer {
        padding: 2.5rem 5%;
        gap: 6%;
        flex-wrap: wrap;
    }

    .footer-content,
    .quick-links-container,
    .legal-links-container {
        width: 30%;
        margin-bottom: 1.5rem;
    }

    .footer-links {
        text-wrap: nowrap;
    }

    .social-links {
        width: 100%;
    }
}

@media (max-width: 767px) {
    footer {
        padding: 2rem 10%;
        flex-direction: column;
        gap: 2rem;
    }

    .footer-content,
    .quick-links-container,
    .legal-links-container,
    .social-links {
        width: 100%;
        align-items: flex-start;
        text-align: center;
        gap: 1rem;
    }

    .about-description,
    .footer-links {
        font-size: 0.875rem;
        text-align: left;
    }

    .social-icons {
        font-size: 1.25rem;
    }

    .footer-heading {
        font-size: 1.125rem;
        margin-bottom: 0.75rem;
    }
}