* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 10%;
    background-color: #FFFFFF;
    color: #333333;
}

@media (min-width: 315px) and (max-width: 412px) {}